

* {
	font-family: 'Roboto', sans-serif;
}

header {
	position: relative;
}

nav {
	height: 51px;
	background-color: #212121;
}

.menu {
	display: flex;
	justify-content: space-between;
	padding: 13px 70px;
	margin: 0;
	list-style-type: none;
}

.menu .menu_item a {
	text-decoration: none;
}

.menu .menu_link {
	font-size: 15px;
	font-weight: 300;
	color: #ffffff;
}

.menu .menu_item {
	border-right: 2px dotted #060606;
	padding-right: 28px;
}

.subheader {
	position: absolute;
	width: 100%;
	height: 84px;
	background-color: rgba(0, 0, 0, .6);
	}

	.subheader .subheader_logo {
		display: block;
		min-width: 100%;
		margin-top: 16px;
	}

	.subheader .subheader_official{
		margin-top: 3px;
		opacity: 0.5;	
		font-size: 13px;
		font-weight: 100;
		color: #ffffff;
	}

	.subheader .subheader_coll {
		margin-top: 19px;
		font-size: 12px;
		font-weight: 300;
		color: #ffffff;
		text-align: right;
	}

	.subheader .subheader_phone {
		display: block;
		margin-top: 8px;
		font-size: 22px;
		font-weight: 400;
		text-transform: uppercase;
		color: #ffffff;
		text-align: right;
		line-height: 12px;
		text-decoration: none;
	}

	.subheader .subheader_btn {
		margin-top: 16px;
		width: 178px;
		height: 52px;
		background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
		border: none;
		border-radius: 4px;
		box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.11);
		font-size: 14px;
		font-weight: 400;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
		color: #ffffff;
	}

	.promo {
		min-height: 799px;
		background: url('../img/bg/screen_bg.png') center center/cover no-repeat;
		padding: 151px 0 132px 0;
	}

	.promo .promo_header {
		font-size: 60px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		line-height: 60px;
		margin: 0;
		text-align: center;
	}

	.promo .promo_subheader {
		font-size: 36px;
		font-weight: 700;
		text-transform: uppercase;
		color: #ffffff;
		line-height: 36px;
		margin: 0;
		margin-top: 22px;
		text-align: center;
	}

	.promo .promo_descr {
		font-size: 18px;
		line-height: 24px;
		font-weight: 400;
		color: #ffffff;
		text-align: center;
		margin-top: 23px;
	}

	.promo .promo_btn {
		display: block;
		margin: 118px auto 0 auto;
		width: 265px;
		height: 69px;
		border-radius: 4px;
		background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
		border: none;
		box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.11);
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
		text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
		color: #ffffff;
	}

	.reasons {
		padding: 71px 0 68px 0;
	}

	.label {
		margin: 0 auto;
		width: 112px;
		height: 24px;
		padding: 5px 12px;
		background-color: #000000;
		font-size: 11px;
		font-weight: 100;
		text-transform: uppercase;
		color: #ffffff;
		text-transform: uppercase;
	}

	.title {
		margin-bottom: 0;
		margin-top: 38px;
		font-size: 38px;
		font-weight: 700;
		text-transform: uppercase;
		color: #222222;
		text-align: center;
	}

	.reasons .reasons_block {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 35px;
	}


		.reasons .reasons_block .reasons_round {
		display: flex;
		justify-content: center;   /*выравнивание в доль главной оси*/
		align-items: center;       /*выравнивание в доль поперечной оси*/
		margin-right: 25px;
		width: 113px;
		height: 113px;
		background-color: #1eacc7;
		border-radius: 100%;
		}

		.reasons .reasons_block .reasons_descr {
		width: 341px;
		}

		.reasons .reasons_block .reasons_descr .reasons_subtitle {
		font-size: 17px;
		line-height: 21px;
		font-weight: 400;
		color: #1eacc7;
		}


	.reasons .reasons_block .reasons_descr .reasons_text {
		font-size: 15px;
		font-weight: 300;
		color: #202020;
      }